@charset "UTF-8";
/*======================
    404 page
=======================*/


.page_404{
    padding:40px 0; background:#fff; font-family: 'Arvo', serif;
}


.page_404  img{
    width:100%;
}

.four_zero_four_bg{
    background-image: url(https://cdn.dribbble.com/users/285475/screenshots/2083086/dribbble_1.gif);
    height: 400px;
    background-position: center;
}


.four_zero_four_bg h1{
    font-size:80px;
}

.four_zero_four_bg h3{
    font-size:80px;
}

.link_404{
    color: #fff!important;
    padding: 10px 20px;
    background: #000000;
    margin: 20px 0;
    display: inline-block;
    border-radius: 100%;
}
.link_1{
    color: #fff!important;
    padding: 10px 20px;
    background: #000000;
    margin: 20px 0;
    display: inline-block;
    border-radius: 100%;
    position: absolute;
    bottom: -50px;
    left: 365px;
}

.link_1:hover{
    background: #e27d2b;
    color: white;
    transition: 0.6s;
}
.link_404:hover{
    background: #e27d2b;
    color: white;
    transition: 0.6s;
}

.contant_box_404{
    margin-top:-50px;
}