@charset "UTF-8";

#about{
    padding: 10px 10px;
    width: 1000px ;
    height: 400px;
    position: relative;
    left: 250px;
    text-align: center;
}

.title-about{
    font-family:"", sans-serif ;
    font-size: 30px;

}

.p-about{
    padding: 10px 10px;
    position: absolute;
    font-family:"", sans-serif ;
    font-size: 18px;
    width: 750px;
    left: 150px;
}