@charset "UTF-8";

@font-face {
    font-family: Vilane Bold;
    src: url("/assets/font/Vilane Bold.ttf");
}

@font-face {
    font-family: Vilane Extra Light;
    src: url("/assets/font/Vilane Extra Light.ttf");
}

@font-face {
    font-family: Vilane Light;
    src: url("/assets/font/Vilane Light.ttf");
}

@font-face {
    font-family: Vilane Medium;
    src: url("/assets/font/Vilane Medium.ttf");
}

@font-face {
    font-family: Vilane Regular;
    src: url("/assets/font/Vilane Regular.ttf");
}

@font-face {
    font-family: Vilane Semi Bold;
    src: url("/assets/font/Vilane Semi Bold.ttf");
}

@font-face {
    font-family: Vilane Thin;
    src: url("/assets/font/Vilane Thin.ttf");
}

@font-face{
    font-family: Anton;
    src: url("/assets/font/Anton-Regular.ttf");
}

@font-face{
    font-family: Protest;
    src: url("/assets/font/ProtestGuerrilla-Regular.ttf");
}


body{
    background:white;
    background-size: cover;
    font-family: "Arial", sans-serif;
    color: black;
}

.politics{
    padding: 20px;
    text-align: justify-all;
    font-family: "Vilane Bold", Arial;
}

head{
    width:100%;
    height: 100%;
    padding: 60px;
    text-align: left;
    background: #ffffff;
    color: black;
    font-size: 30px;
    top: 1px;
}

.menu{
    width:10%;
    height: 100px;
    font-family:Arial, Helvetica, sans-serif;
    bottom: 1000px;
    background: #ffffff;
}

.separation-line{
    width:70%;
    height:1px;
    border-bottom: 1px solid #717070;
    margin-left: 250px;
}

.header-list{
    width: 900px;
    bottom: 2000px;
    margin-left: 370px;
    position: absolute;
    top: 40px;
    font-family:"Vilane Bold", Arial, Helvetica, sans-serif;
}

.links{
    margin-left: 50px;
}

.logo{
    margin-left: 50px;
    position:relative;
    top: 7px;
    width: 100px;
    height: 100px;
}

.button{
    margin-left: 1050px;
    position:relative;
    top: 10px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    display: none;
}

.list{
    background-color: #1abc9c;
    margin: 1px 0px;
    margin-left: 0px;
    display:none;
}

a:link{color:black; text-decoration: none;}
a:visited{color:black; text-decoration: none;}
a:hover{color:black; text-decoration: underline; transition:1s;  }
a:active{color:black; text-decoration: none;}

@media screen and (max-width: 1200px), (height: 2400px){
    .button{
        display: block;
    }
    .header-list{
        display:none;
    }
    .list{
        display: inline-block;
    }
}

footer {
    position: relative;
    padding: 1px;
    background: #730f0f;
    display: block;
    color: white;
    height: 450px;
    bottom: -20px;
    font-family: "Vilane Regular";
}

.about-us{
    position: absolute;
    display: block;
    left: 70px;
    top: 5px;
    text-align: left;
    border: 1px solid #e27d2b;
    width: 500px;
    height: 200px;
}

.list-footer-terms{
    position: absolute;
    border: 1px solid #e27d2b;
    display: block;
    left: 800px;
    text-align: center;
    width: 400px;
    height: 200px;
    top: 5px;
}

.list-contactos{
    position: absolute;
    border: 1px solid #e27d2b;
    display: block;
    width: 500px;
    height: 200px;
    left: 70px;
    top: 250px;
}

.social-links{
    position: absolute;
    border: 1px solid #e27d2b;
    display: block;
    width: 135px;
    height: 35px;
    top: 230px;
    left: 800px;
}


.title{
    text-align:center;
    margin-left: 620px;
}

span{
    color: rgb(68, 68, 68);
}


footer h2{
    font-size: 16px;
    font-family: "Arial" , sans-serif;
}

footer h4{
    font-size: 13px;
    font-family: "Calibri", sans-serif;
}

footer p{
    font-size: 10px;
}

footer ul{
    font-size: 16px;
    font-family: "Arial", sans-serif;
    list-style: none;
}

.new-products {
    position: relative;
    display: block;
    text-align: center;
    border: 1px solid seagreen;
    width: 400px;
    height: 100px;
    left: 550px;
}

.title-new-products{
    font-family: "Arial Black",sans-serif;
    font-size: 30px;
    font-weight: bold;
    color: #462c2c;
}

.sub-title-new-products{
    font-family: "Arial Black", sans-serif;
    font-size: 20px;
    font-weight: normal;
    color: #e27d2b;
    position: absolute;
    display: block;
    top: 30px;
    left: 125px;
}

.rubrica{
    font-family: "Calibri Light", sans-serif ;
    font-size: 12px;

}

.title-img{
    position: absolute;
    top: 145px;
    right: 20px;
    font-size: 40px;
    color: #ffffff;
    text-shadow: 0px 0px 5px #0034d5;
}

.p-img{
    position: absolute;
    top: 105px;
    right: 20px;
    font-size: 40px;
    color: #ffffff;
    text-shadow: 0px 0px 5px #0034d5;

}

#cabecalho-img{
    display: inline-block;
    position: relative;
    width: 1390px ;
    height:300px;
}

.social-links a{
    font-size: 30px;
    color: white;
}

.terms-title{
    margin-right: 900px ;
}

.terms-cont{
    border: white solid 1px;
    position: absolute;
    right: 150px;
    width: 300px;
    top: 20px;
}

/*total para as content: 1370px*/
.content1{
    border: 2px solid black;
    width: 300px;
    height: 450px;
    margin-left: 50px;
    margin-bottom: 1px;
}

.content2{
    border: 2px solid blue;
    width: 300px;
    height: 450px;
    position: absolute;
    top: 541px;
    left: 410px;
}

.content3{
    border: 2px solid orange;
    width: 300px;
    height: 450px;
    position: absolute;
    top: 541px;
    left: 765px;
}

.content4{
    border: 2px solid darkred;
    width: 300px;
    height: 450px;
    position: absolute;
    top: 541px;
    left: 1120px;
}

.cart{
    padding: 10px 10px;
    width: 10px;
    height: 10px;
    border-radius: 100% ;
    background: #0267ff;
    position: absolute;
    font-size: 20px;
    right: -70px;
    top: -5px;
}

.cart:hover{
    color: white;
}


