@charset "UTF-8";

@font-face {
    font-family: Vilane Bold;
    src: url("/assets/font/Vilane Bold.ttf");
}

@font-face {
    font-family: Vilane Extra Light;
    src: url("/assets/font/Vilane Extra Light.ttf");
}

@font-face {
    font-family: Vilane Light;
    src: url("/assets/font/Vilane Light.ttf");
}

@font-face {
    font-family: Vilane Medium;
    src: url("/assets/font/Vilane Medium.ttf");
}

@font-face {
    font-family: Vilane Regular;
    src: url("/assets/font/Vilane Regular.ttf");
}

@font-face {
    font-family: Vilane Semi Bold;
    src: url("/assets/font/Vilane Semi Bold.ttf");
}

@font-face {
    font-family: Vilane Thin;
    src: url("/assets/font/Vilane Thin.ttf");
}

@font-face{
    font-family: Anton;
    src: url("/assets/font/Anton-Regular.ttf");
}

@font-face{
    font-family: Protest;
    src: url("/assets/font/ProtestGuerrilla-Regular.ttf");
}


body{
    background:white;
    background-size: cover;
    font-family: "Arial", sans-serif;
    color: black;
}

.politics{
    padding: 20px;
    text-align: justify-all;
    font-family: "Vilane Regular", Arial;
}

head{
    width:100%;
    height: 100%;
    padding: 60px;
    text-align: left;
    background: #ffffff;
    color: black;
    font-size: 30px;
    top: 1px;
}

.menu{
    width:10%;
    height: 100px;
    font-family:Arial, Helvetica, sans-serif;
    bottom: 1000px;
    background: #ffffff;
}

.header-list{
    width: 900px;
    bottom: 2000px;
    margin-left: 370px;
    position: absolute;
    top: 40px;
    font-family:"Vilane Bold", Arial, Helvetica, sans-serif;
}

.links{
    margin-left: 50px;
}

.logo{
    margin-left: 50px;
    position:relative;
    top: 7px;
    width: 100px;
    height: 100px;
}

.button{
    margin-left: 1050px;
    position:relative;
    top: 10px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    display: none;
}

.list{
    background-color: #1abc9c;
    margin: 1px 0px;
    margin-left: 0px;
    display:none;
}

a:link{color:black; text-decoration: none;}
a:visited{color:black; text-decoration: none;}
a:hover{color:orange; text-decoration: underline; transition:0.6s;  }
a:active{color:black; text-decoration: none;}

@media screen and (max-width: 1200px), (height: 2400px){
    .button{
        display: block;
    }
    .header-list{
        display:none;
    }
    .list{
        display: inline-block;
    }
}

footer {
    position: relative;
    padding: 1px;
    background: #fc8318;
    display: block;
    color: black;
    height: 500px;
    bottom: -20px;
    font-family: "Vilane Regular";
}

.separation-line{
    width:91%;
    height:1px;
    border-bottom: 1px solid #717070;
    margin-left: 50px;
    margin-top: 50px;
    margin-bottom: 10px;
}

footer h2{
    font-size: 16px;
    font-family: "Vilane Bold" , sans-serif;
}

footer h4{
    font-size: 13px;
    font-family: "Vilane Regular", sans-serif;
}

footer p{
    font-size: 13px;
}

footer ul{
    font-size: 13px;
    font-family: "Vilane Regular", sans-serif;
    list-style: none;
    text-align:left;
}

.about-us{
    position: absolute;
    display: block;
    left: 70px;
    top: 5px;
    text-align: left;
    border: 1px solid #e27d2b;
    width: 700px;
    height: 220px;
}

.list-contactos{
    position: absolute;
    border: 1px solid #e27d2b;
    display: block;
    left: 880px;
    text-align: left;
    width: 400px;
    height: 220px;
    top: 5px;
}

.terms-title{
    margin-right: 900px ;
}

.terms-cont{
    border: white solid 1px;
    position: absolute;
    right: 240px;
    width: 300px;
    top: 25px;
}

.list-footer-terms{
    position: absolute;
    border: 1px solid #e27d2b;
    display: block;
    width: 500px;
    height: 190px;
    left: 70px;
    top: 270px;
}

.social-links{
    position: absolute;
    border: 1px solid #e27d2b;
    display: block;
    width: 400px;
    height: 190px;
    top: 270px;
    left: 880px;
}

.logo-info-mb{
    width: 200px;
    height:60px;
    margin-left:100px;
}

.logo-info-mb-way{
    width: 118px;
    height:55px;
    margin-left: 60px;
}

.logo-info-skrill{
    width: 150px;
    height:51px;
    margin-left: 75px;
}

.logo-info-revolut{
    width: 135px;
    height:90px;
    margin-left: 60px;
    position: absolute;
    top:470px;
}

.logo-info-paypal{
    width: 180px;
    height:55px;
    margin-left:250px;
}
.title{
    text-align:center;
    margin-left: 620px;
}

span{
    color: rgb(68, 68, 68);
}

ul{
    color: rgb(68, 68, 68);
}

.new-products {
    position: relative;
    display: block;
    text-align: center;
    width: 400px;
    height: 100px;
    left: 550px;
}

.title-new-products{
    font-family: "Anton",sans-serif;
    font-size: 50px;
    font-weight: bold;
    color: #ffffff;
    opacity: 1;
    text-shadow: 0px 0px 2px #000000;
    position: absolute;
    top: -40px;
    left: 50px;


}

.sub-title-new-products{
    font-family: "Anton", sans-serif;
    font-size: 30px;
    font-weight: normal;
    color: #000000;
    position: absolute;
    display: block;
    top: 10px;
    left: 110px;
}

.rubrica{
    font-family: "Calibri Light", sans-serif ;
    font-size: 12px;

}

.title-img{
    font-family: "Protest", sans-serif;
    position: absolute;
    top: 145px;
    right: 20px;
    font-size: 50px;
    color: #ffffff;
    text-shadow: 0px 0px 3px #000000;
}

.p-img{
    font-family: "Protest", sans-serif;
    position: absolute;
    top: 105px;
    right: 20px;
    font-size: 50px;
    color: #ffffff;
    text-shadow: 0px 0px 3px #000000;

}

#cabecalho-img{
    display: inline-block;
    position: relative;
    width: 1420px ;
    height:300px;
}

.social-links a{
    font-size: 30px;
    color: white;
}


/*total para as content: 1370px*/
.content1{
    box-shadow: 0 0 5px dimgrey;
    width: 300px;
    height: 450px;
    margin-left: 50px;
    margin-bottom: 1px;
}

.content2{
    box-shadow: 0 0 5px dimgrey;
    width: 300px;
    height: 450px;
    position: absolute;
    top: 541px;
    left: 410px;
}

.content3{
    box-shadow: 0 0 5px dimgrey;
    width: 300px;
    height: 450px;
    position: absolute;
    top: 541px;
    left: 765px;
}

.content4{
    box-shadow: 0 0 5px dimgrey;
    width: 300px;
    height: 450px;
    position: absolute;
    top: 541px;
    left: 1120px;
}

.img-product{
    width: 280px;
    height: 250px;
    position: absolute;
    top: 551px;
    left: 69px;
}

.product1-new{
    position:absolute;
    top: 800px;
    left: 150px;
    font-family: "Vilane Regular";
}

.price1-new{
    position:absolute;
    top: 840px;
    left: 180px;
    font-family: "Vilane Regular";
}

.img-product2{
    width:280px;
    height:250px;
    position: absolute;
    top: 10px;
    left: 10px;
}

.product2-new{
    position: absolute;
    top: 255px;
    left: 95px;
    font-family: "Vilane Regular";
}

.price2-new{
    position:absolute;
    top: 300px;
    left: 130px;
    font-family: "Vilane Regular";
}

.cart{
    position: absolute;
    font-size: 30px;
    right: -150px;
    top: -10px;
}

.cart:hover{
    color: #fc8318;
}


